<a href="https://colab.research.google.com/github/itsmechand/Amaravathi-Software-DS/blob/main/DS_Task1_CHANDRA_SEKHAR_GOLLAPROLU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Name**     : CHANDRA SEKHAR GOLLAPROLU

**Roll No**  : 21F01A0542

**College**  : ST.ANN'S COLLEGE OF ENGINEERING AND TECHNOLOGY

**Mail id**  : cs7093624@gmail.com

**Course**   : Datascience

**Task No**  : Task 1

**1.Read The Given Three CSV Files To Diffrent Pandas Dataframes**

In [3]:
import pandas as pd
df1=pd.read_csv("Customers .csv")
df2=pd.read_csv("Transaction.csv")
df3=pd.read_csv("Continent .csv")
print(df1.head())
print(df2.head())
print(df3.head())

   customer_id  region_id  start_date    end_date
0            1          3  02-01-2020  03-01-2020
1            2          3  03-01-2020  17-01-2020
2            3          5  27-01-2020  18-02-2020
3            4          5  07-01-2020  19-01-2020
4            5          3  15-01-2020  23-01-2020
   customer_id    txn_date txn_type  txn_amount
0          429  21-01-2020  deposit          82
1          155  10-01-2020  deposit         712
2          398  01-01-2020  deposit         196
3          255  14-01-2020  deposit         563
4          185  29-01-2020  deposit         626
   region_id region_name
0          1   Australia
1          2     America
2          3      Africa
3          4        Asia
4          5      Europe

**2.Merge The Customers and Transaction Into a Single Dataframe.**

In [4]:
#Default Merge
merged_df = df1.merge(df2)
print("Default Merge : \n",merged_df.head())
#Inner Merge
inner_merged_df = pd.merge(df1 , df2 , on = 'customer_id' , how = 'inner')
print("Inner Merge : \n", inner_merged_df.head())
#Outer Merge
outer_merged_df = pd.merge(df1 , df2 , on = 'customer_id' , how = 'outer')
print("Outer Merge : \n", outer_merged_df.head())

#Left Merge
left_merged_df = pd.merge(df1 , df2 , on = 'customer_id' , how = 'left')
print("Left Merge : \n", left_merged_df.head())
#Right Merge
right_merged_df = pd.merge(df1 , df2 , on = 'customer_id' , how = 'inner')
print("Right Merge : \n", right_merged_df.head())

Default Merge :
    customer_id  region_id  start_date    end_date    txn_date  txn_type  \
0            1          3  02-01-2020  03-01-2020  02-01-2020   deposit
1            1          3  02-01-2020  03-01-2020  05-03-2020  purchase
2            1          3  02-01-2020  03-01-2020  17-03-2020   deposit
3            1          3  02-01-2020  03-01-2020  19-03-2020  purchase
4            1          3  04-01-2020  14-01-2020  02-01-2020   deposit

   txn_amount
0         312
1         612
2         324
3         664
4         312
Inner Merge :
    customer_id  region_id  start_date    end_date    txn_date  txn_type  \
0            1          3  02-01-2020  03-01-2020  02-01-2020   deposit
1            1          3  02-01-2020  03-01-2020  05-03-2020  purchase
2            1          3  02-01-2020  03-01-2020  17-03-2020   deposit
3            1          3  02-01-2020  03-01-2020  19-03-2020  purchase
4            1          3  04-01-2020  14-01-2020  02-01-2020   deposit

   txn_amount
0         312
1         612
2         324
3         664
4         312
Outer Merge :
    customer_id  region_id  start_date    end_date    txn_date  txn_type  \
0            1          3  02-01-2020  03-01-2020  02-01-2020   deposit
1            1          3  02-01-2020  03-01-2020  05-03-2020  purchase
2            1          3  02-01-2020  03-01-2020  17-03-2020   deposit
3            1          3  02-01-2020  03-01-2020  19-03-2020  purchase
4            1          3  04-01-2020  14-01-2020  02-01-2020   deposit

   txn_amount
0         312
1         612
2         324
3         664
4         312
Left Merge :
    customer_id  region_id  start_date    end_date    txn_date  txn_type  \
0            1          3  02-01-2020  03-01-2020  02-01-2020   deposit
1            1          3  02-01-2020  03-01-2020  05-03-2020  purchase
2            1          3  02-01-2020  03-01-2020  17-03-2020   deposit
3            1          3  02-01-2020  03-01-2020  19-03-2020  purchase
4            2          3  03-01-2020  17-01-2020  03-01-2020   deposit

   txn_amount
0         312
1         612
2         324
3         664
4         549
Right Merge :
    customer_id  region_id  start_date    end_date    txn_date  txn_type  \
0            1          3  02-01-2020  03-01-2020  02-01-2020   deposit
1            1          3  02-01-2020  03-01-2020  05-03-2020  purchase
2            1          3  02-01-2020  03-01-2020  17-03-2020   deposit
3            1          3  02-01-2020  03-01-2020  19-03-2020  purchase
4            1          3  04-01-2020  14-01-2020  02-01-2020   deposit

   txn_amount
0         312
1         612
2         324
3         664
4         312

**3.Calculate The Duration In Days Between Start Date and End Date.**

In [ ]:
df1['start_date'] = pd.to_datetime(df1['start_date'], format='%d-%m-%Y')
df1['end_date'] = pd.to_datetime(df1['end_date'], format='%d-%m-%Y')
print(df1[df1['end_date'].isna()]) df1['duration'] = (df1['end_date'] - df1['start_date']).dt.days
print(df1.head())

**4.Drop the Duplicate Rows In The Merged Dataframe If Any.**

In [ ]:
merge.drop_duplicates()

,customer_id,txn_date,txn_type,txn_amount,region_id,start_date,end_date,Duration
0,429,21-01-2020,deposit,82,5,2020-01-21,2020-01-28,7.0
1,429,21-01-2020,deposit,82,5,2020-01-29,2020-02-01,3.0
2,429,21-01-2020,deposit,82,5,2020-02-02,2020-03-01,28.0
3,429,21-01-2020,deposit,82,5,2020-03-02,2020-03-23,21.0
4,429,21-01-2020,deposit,82,5,2020-03-24,2020-04-12,19.0
...,...,...,...,...,...,...,...,...
41071,189,27-01-2020,withdrawal,861,4,2020-01-17,2020-01-27,10.0
41072,189,27-01-2020,withdrawal,861,4,2020-01-28,2020-02-03,6.0
41073,189,27-01-2020,withdrawal,861,4,2020-02-04,2020-02-12,8.0
41074,189,27-01-2020,withdrawal,861,4,2020-02-13,2020-02-23,10.0
41075,189,27-01-2020,withdrawal,861,4,2020-02-24,NaT,NaN

**5.Drop Rows With Missing Values In The Merged Dataframe If Any.**

In [ ]:
print(merge.isnull().sum())
print(merge.dropna())

customer_id       0
txn_date          0
txn_type          0
txn_amount        0
region_id         0
start_date        0
end_date       5868
Duration       5868
dtype: int64
       customer_id    txn_date    txn_type  txn_amount  region_id start_date  \
0              429  21-01-2020     deposit          82          5 2020-01-21
1              429  21-01-2020     deposit          82          5 2020-01-29
2              429  21-01-2020     deposit          82          5 2020-02-02
3              429  21-01-2020     deposit          82          5 2020-03-02
4              429  21-01-2020     deposit          82          5 2020-03-24
...            ...         ...         ...         ...        ...        ...
41070          189  27-01-2020  withdrawal         861          4 2020-01-16
41071          189  27-01-2020  withdrawal         861          4 2020-01-17
41072          189  27-01-2020  withdrawal         861          4 2020-01-28
41073          189  27-01-2020  withdrawal         861          4 2020-02-04
41074          189  27-01-2020  withdrawal         861          4 2020-02-13

        end_date  Duration
0     2020-01-28       7.0
1     2020-02-01       3.0
2     2020-03-01      28.0
3     2020-03-23      21.0
4     2020-04-12      19.0
...          ...       ...
41070 2020-01-16       0.0
41071 2020-01-27      10.0
41072 2020-02-03       6.0
41073 2020-02-12       8.0
41074 2020-02-23      10.0

[35208 rows x 8 columns]

**6.Calculate The Average Duration Of Each Customer.**

In [ ]:
avg_duration = merge.groupby('customer_id')['Duration'].mean().reset_index()
print(avg_duration)

     customer_id   Duration
0              1  11.500000
1              2  10.833333
2              3  13.833333
3              4  13.333333
4              5   7.500000
..           ...        ...
495          496   7.333333
496          497  18.666667
497          498  11.833333
498          499   4.333333
499          500  14.000000

[500 rows x 2 columns]

**7.Display The Unique Transaction Types.**

In [10]:
unique_txn_types = df2['txn_type'].unique()
print(unique_txn_types)

['deposit' 'withdrawal' 'purchase']

**8.Display The Count Of Each Transaction Type With Respect To Each Continent.**

In [12]:
merge_df = df1.merge(df2, on='customer_id', how='left')
merge_df = merge_df.merge(df3, left_on='region_id', right_on='region_id', how='left')

# Group and count transactions
transaction_counts = merge_df.groupby(['region_name', 'txn_type']).size().reset_index(name='transaction_count')
print(transaction_counts)

   region_name    txn_type  transaction_count
0       Africa     deposit               3759
1       Africa    purchase               2338
2       Africa  withdrawal               2317
3      America     deposit               4060
4      America    purchase               2359
5      America  withdrawal               2387
6         Asia     deposit               3682
7         Asia    purchase               2149
8         Asia  withdrawal               2121
9    Australia     deposit               4053
10   Australia    purchase               2660
11   Australia  withdrawal               2394
12      Europe     deposit               3143
13      Europe    purchase               1813
14      Europe  withdrawal               1841

**9.Find out the selling cost average for packages developed in Pascal.**

In [ ]:

#new Datasets
import pandas as pd
df4=pd.read_csv("Software .csv")
df5=pd.read_csv("Studies .csv")
df6=pd.read_csv("Programmer .csv")
print(df4.head())
print(df5.head())
print(df6.head())

pas_packages = df4[df4['DEVELOPIN'] == 'PASCAL']
# Calculate the average
avg = pas_packages['SCOST'].mean()

print("Average Selling Cost for the packages developed in Pascal: ", avg)

**10) Display the names of those who have done the DAP Course**

In [17]:
dap = df5[df5['COURSE'] == 'DAP']
print(dap['PNAME'])

5      NELSON
11    REVATHI
Name: PNAME, dtype: object

11) Display the lowest course fee

In [19]:
low=df5['COURSE FEE'].min()
print("Lowest Course Fee : ",low)

Lowest Course Fee :  4500

12) Display the details of the packages for which development costs have been recovered.

In [22]:
df4['Revenue'] = df4['SCOST'] * df4['SOLD']
recover = df4[df4['Revenue'] >= df4['DCOST']]
print(recover[['PNAME', 'TITLE', 'DEVELOPIN', 'SCOST', 'DCOST', 'SOLD']])

       PNAME           TITLE DEVELOPIN     SCOST  DCOST  SOLD
0       MARY          README       CPP    300.00   1200    84
1      ANAND      PARACHUTES     BASIC    399.95   6000    43
2      ANAND   VIDEO TITLING    PASCAL   7500.00  16000     9
4     KAMALA    PAYROLL PKG.     DBASE   9000.00  20000     7
6       MARY  CODE GENERATOR         C   4500.00  20000    23
7   PATTRICK          README       CPP    300.00   1200    84
8      QADIR      BOMBS AWAY  ASSEMBLY    750.00   3000    11
9      QADIR        VACCINES         C   1900.00   3100    21
10    RAMESH     HOTEL MGMT.     DBASE  13000.00  35000     4
11    RAMESH        DEAD LEE    PASCAL    599.95   4500    73
12   REMITHA    PC UTILITIES         C    725.00   5000    51
13   REMITHA   TSR HELP PKG.  ASSEMBLY   2500.00   6000     7
15    VIJAYA      TSR EDITOR         C    900.00    700     6

13) What is the cost of the costliest software development in Basic

In [23]:
c = df4[df4['DEVELOPIN']== 'BASIC']['DCOST'].max()
print("Cost of the costliest software development in Basic : ", c)

Cost of the costliest software development in Basic :  6000

 14) How many programmers paid 5000 to 10000 for their course

In [24]:
a = df6[(df6['SALARY'] >= 5000) & (df6['SALARY'] <= 10000)]
print("Number of programmers who paid between 5000 and 10000 for their course:", len(a))

Number of programmers who paid between 5000 and 10000 for their course: 0

15) How many programmers know either COBOL or Pascal

In [25]:
b = df6[(df6['PROF1'].isin(['COBOL', 'PASCAL'])) | (df6['PROF2'].isin(['COBOL', 'PASCAL']))]
print("Number of programmers who know either COBOL or Pascal:", len(b))

Number of programmers who know either COBOL or Pascal: 8